<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            {{!-- -------------start content----------- --}}
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Edit Products</h4>
                        <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data" name="editproductForm" onsubmit="return editProductValidate()">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" name="name" class="form-control" placeholder="Name"
                                    value="{{product.name}}">
                                    <label class="text-danger" id="namevalidate"></label>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" name="description" rows="4" placeholder="Description"
                                    value="">{{product.description}}</textarea>
                                    <label class="text-danger" id="descriptionvalidate"></label>
                            </div>
                            <div class="form-group">
                                <label>MRP</label>
                                <input type="number" name="MRP" class="form-control" value="{{product.MRP}}">
                                <label class="text-danger" id="MRPvalidate"></label>
                            </div>
                            <div class="form-group">
                                <label>Image</label>
                                <div class="form-group">
                                    <span>
                                        <img src="/images/product/{{product.img.[0]}}" style="height: 70px;width: 70px;"
                                            alt="no img" id="imgView1" onerror="this.style.display='none'">
                                        <img src="/images/product/{{product.img.[1]}}" style="height: 70px;width: 70px;"
                                            alt="no img" id="imgView2" onerror="this.style.display='none'">
                                        <img src="/images/product/{{product.img.[2]}}" style="height: 70px;width: 70px;"
                                            alt="no img" id="imgView3" onerror="this.style.display='none'">
                                        <img src="/images/product/{{product.img.[3]}}" style="height: 70px;width: 70px;"
                                            alt="no img" id="imgView4" onerror="this.style.display='none'">
                
                                    </span>
                                </div>
                                <input type="file" class="form-control" name="image" multiple
                                 onchange="viewImage(event)">
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            {{!-- <button class="btn btn-dark">Cancel</button> --}}
                        </form>

                    </div>
                </div>
            </div>
            {{!-- ------------------end content---------------- --}}
        </div>
    </div>
</div>

<script>
    function editProductValidate() {
        let name = document.forms["editproductForm"]["name"].value
        let description = document.forms["editproductForm"]["description"].value
        let MRP = document.forms["editproductForm"]["MRP"].value
        if (name == "" || name.trim() == "") {
            document.getElementById('namevalidate').innerHTML = 'Name must be filled out'
            return false
        } else if (description == "" || description.trim() == "") {
            document.getElementById('descriptionvalidate').innerHTML = 'Description must be filled out'
            return false
        } else if (MRP == "") {
            document.getElementById('MRPvalidate').innerHTML = 'MRP must be filled out'
            return false
        }
    }

    function viewImage() {
        document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0])
        document.getElementById('imgView2').src = URL.createObjectURL(event.target.files[1])
        document.getElementById('imgView3').src = URL.createObjectURL(event.target.files[2])
        document.getElementById('imgView4').src = URL.createObjectURL(event.target.files[3])
        document.getElementById('imgView5').src = URL.createObjectURL(event.target.files[4])
        document.getElementById('imgView6').src = URL.createObjectURL(event.target.files[5])
        document.getElementById('imgView7').src = URL.createObjectURL(event.target.files[6])
        document.getElementById('imgView8').src = URL.createObjectURL(event.target.files[7])
    }
    document.addEventListener('click', function (e) {
        if (e.target.tagName === 'IMG') {
            e.target.remove();
        }
    });

</script>