<div class="main-panel">
    <div class="content-wrapper">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <section class="content-main">
                        <div class="content-header ">
                            <div>
                                <h2 class="content-title card-title">Order Details</h2>
                            </div>
                        </div>
                        <div class="card">
                            <header class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                                        <span>
                                            <i class="material-icons md-calendar_today"></i> <b>date:
                                                {{products.[0].date}}</b>
                                        </span> <br>
                                        <small class="text-muted">Order ID: {{address.[0]._id}}</small>
                                    </div>
                                </div>
                            </header> <!-- card-header end// -->
                            <div class="card-body">
                                <div class="row mb-50 mt-20 order-info-wrap">
                                    <div class="col-md-4">
                                        <article class="icontext align-items-start">
                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                <i class="text-primary material-icons md-person"></i>
                                            </span>
                                            <div class="text">
                                                <h6 class="mb-1">Customer</h6>
                                                <p class="mb-1">
                                                    {{address.[0].name}} <br>
                                                    {{address.[0].email}}<br>
                                                    {{address.[0].phone}}
                                                </p>
                                                {{!-- <a href="#">View profile</a> --}}
                                            </div>
                                        </article>
                                    </div> <!-- col// -->
                                    <div class="col-md-4">
                                        <article class="icontext align-items-start">
                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                <i class="text-primary material-icons md-local_shipping"></i>
                                            </span>
                                            <div class="text">
                                                <h6 class="mb-1">Order info</h6>
                                                <p class="mb-1">
                                                    Shipping: Blue Dart <br> Pay method: {{products.[0].paymentMethod}} <br> Status:{{products.[0].status}}
                                                </p>
                                                {{!-- <a href="#">Download info</a> --}}
                                            </div>
                                        </article>
                                    </div> <!-- col// -->
                                    <div class="col-md-4">
                                        <article class="icontext align-items-start">
                                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                                <i class="text-primary material-icons md-place"></i>
                                            </span>
                                            <div class="text">
                                                <h6 class="mb-1">Deliver to</h6>
                                                <p class="mb-1">
                                                    location:{{address.[0].fullAddress}} <br>
                                                    zip:{{address.[0].zip}} <br> <br>

                                                </p>
                                                {{!-- <a href="#">View profile</a> --}}
                                            </div>
                                        </article>
                                    </div> <!-- col// -->
                                </div> <!-- row // -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table" id="invoice-table">
                                                <thead>
                                                    <tr>
                                                        <th width="10%">image</th>
                                                        <th width="30%">Product</th>
                                                        <th width="20%">Unit Price</th>
                                                        <th width="20%">Quantity</th>
                                                        <th width="20%" class="text-end">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each products}}
                                                    <tr>
                                                        <td>
                                                            <img src="/images/product/{{this.productimage}}"
                                                                class="rounded-0" alt="Item">
                                                        </td>
                                                        <td>
                                                            <p>{{this.productname}}</p>
                                                        </td>
                                                        <td>₹{{this.price}}</td>
                                                        <td clss="text-center">{{this.quantity}}</td>
                                                        <td class="text-end">₹{{this.quantitytotal}}</td>
                                                    </tr>
                                                    {{/each}}




                                                    <tr>
                                                        <td colspan="5">
                                                            <div class="d-flex justify-content-end pt-2">

                                                                <p class="text-muted mb-1"><span
                                                                        class="fw-bold me-4">Subtotal:</span>
                                                                    ₹{{totals.subTotal}}</p>
                                                            </div>
                                                            <div class="d-flex justify-content-end pt-2">
                                                                <p class="text-muted mb-0"><span
                                                                        class="fw-bold me-4">Discount:</span>
                                                                    ₹{{totals.discountTotal}}</p>
                                                            </div>
                                                            <div class="d-flex justify-content-end pt-2">
                                                                <p class="text-muted mb-0"><span
                                                                        class="fw-bold me-4">Coupon Discount:</span>
                                                                    ₹{{totals.couponDiscount}}</p>
                                                            </div>
                                                            <div class="d-flex justify-content-end pt-2">
                                                                <p class="text-muted mb-1"><span
                                                                        class="fw-bold me-4">Shipping:</span>
                                                                    Free</p>
                                                            </div>
                                                            <div class="d-flex justify-content-end pt-2">
                                                                <p class="text-muted mb-1"><span
                                                                        class="fw-bold me-4">Grand Total:</span>
                                                                    ₹{{totals.grandTotal}}</p>
                                                            </div>
                                                            <div class="d-flex justify-content-end pt-2">
                                                                <p class="text-muted mb-0"><span
                                                                        class="fw-bold me-4">Status:</span><span
                                                                        class="badge rounded-pill alert-success text-success">{{products.[0].status}}</span>
                                                                </p>
                                                            </div>
                                                            </article>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div> <!-- table-responsive// -->
                                    </div> <!-- col// -->
                                    <div class="col-lg-1"></div>
                                    {{!-- <div class="col-lg-4">
                                        <div class="box shadow-sm bg-light">
                                            <h6 class="mb-15">Payment info</h6>
                                            <p>
                                                <img src="assets/imgs/card-brands/2.png" class="border" height="20">
                                                Master Card **** ****
                                                4768 <br>
                                                Business name: Grand Market LLC <br>
                                                Phone: +1 (800) 555-154-52
                                            </p>
                                        </div>
                                        <div class="h-25 pt-4">
                                            <div class="mb-3">
                                                <label>Notes</label>
                                                <textarea class="form-control" name="notes" id="notes"
                                                    placeholder="Type some note"></textarea>
                                            </div>
                                            <button class="btn btn-primary">Save note</button>
                                        </div>
                                    </div> <!-- col// --> --}}
                                </div>
                            </div> <!-- card-body end// -->
                        </div> <!-- card end// -->
                    </section> <!-- content-main end// -->
                </div>
            </div>
        </div>
    </div>
</div>