<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
    <h3>🅥🅔🅛🅥🅔🅣🅢🅣🅞🅡🅔</h3>
    {{!-- <a class="sidebar-brand brand-logo" href="index.html"><img src="/assets/images/logo.svg" alt="logo" /></a> --}}
    <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="/assets/images/logo-mini.svg" alt="logo" /></a>
  </div>
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
        <div class="profile-pic">
          <div class="count-indicator">
            <img class="img-xs rounded-circle " src="/assets/images/faces/face15.jpg" alt="">
            <span class="count bg-success"></span>
          </div>
          <div class="profile-name">
            <h5 class="mb-0 font-weight-normal">Abdul Basith</h5>
            <span>Gold Member</span>
          </div>
        </div>
        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
        <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-settings text-primary"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-onepassword  text-info"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
            </div>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item preview-item">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-dark rounded-circle">
                <i class="mdi mdi-calendar-today text-success"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
            </div>
          </a>
        </div>
      </div>
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    {{#if dashboard}}
    <li class="nav-item menu-items active">
      <a class="nav-link" href="/admin">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    {{else}}
    <li class="nav-item menu-items" id="admin" onclick="admin()">
      <a class="nav-link">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    {{/if}}
    {{#if user}}
    <li class="nav-item menu-items active" style="act">
      <a class="nav-link" href="/admin/users">
        <span class="menu-icon">
          <i class="mdi mdi-account-multiple"></i>
        </span>
        <span class="menu-title">Users</span>
      </a>
    </li>
    {{else}}
    <li class="nav-item menu-items" style="act" onclick="users()">
      <a class="nav-link">
        <span class="menu-icon">
          <i class="mdi mdi-account-multiple"></i>
        </span>
        <span class="menu-title">Users</span>
      </a>
    </li>
    {{/if}}
    {{#if product}}
    <li class="nav-item menu-items active">
      <a class="nav-link" href="/admin/products">
        <span class="menu-icon">
          <i class="mdi mdi-cube"></i>
        </span>
        <span class="menu-title">Products</span>
      </a>
    </li>
    {{else}}
    <li class="nav-item menu-items" onclick="products()">
      <a class="nav-link">
        <span class="menu-icon">
          <i class="mdi mdi-cube"></i>
        </span>
        <span class="menu-title">Products</span>
      </a>
    </li>
    {{/if}}
    {{#if category}}
    <li class="nav-item menu-items active">
      <a class="nav-link" href="/admin/categories">
        <span class="menu-icon">
          <i class="mdi mdi-view-grid"></i>
        </span>
        <span class="menu-title">Categories</span>
      </a>
    </li>
    {{else}}
    <li class="nav-item menu-items" onclick="category()">
      <a class="nav-link">
        <span class="menu-icon">
          <i class="mdi mdi-view-grid"></i>
        </span>
        <span class="menu-title">Categories</span>
      </a>
    </li>
    {{/if}}
    {{#if order}}
    <li class="nav-item menu-items active">
      <a class="nav-link" href="/admin/manage-orders">
        <span class="menu-icon">
          <i class="mdi mdi-clipboard-outline"></i>
        </span>
        <span class="menu-title">Manage Orders</span>
      </a>
    </li>
    {{else}}
    <li class="nav-item menu-items" onclick="order()">
      <a class="nav-link">
        <span class="menu-icon">
          <i class="mdi mdi-clipboard-outline"></i>
        </span>
        <span class="menu-title">Manage Orders</span>
      </a>
    </li>
    {{/if}}
    {{#if coupon}}
    <li class="nav-item menu-items active">
      <a class="nav-link" href="/admin/couponManagement">
        <span class="menu-icon">
          <i class="mdi mdi-tag-text-outline"></i>
        </span>
        <span class="menu-title">Coupon Management</span>
      </a>
    </li>
    {{else}}
    <li class="nav-item menu-items">
      <a class="nav-link" onclick="coupon()">
        <span class="menu-icon">
          <i class="mdi mdi-tag-text-outline"></i>
        </span>
        <span class="menu-title">Coupon Management</span>
      </a>
    </li>
    {{/if}}
    {{#if salesReport}}
    <li class="nav-item menu-items active">
      <a class="nav-link" href="/admin/sales-report">
        <span class="menu-icon">
          <i class="mdi mdi-chart-areaspline"></i>
        </span>
        <span class="menu-title">Sales Report</span>
      </a>
    </li>
    {{else}}
    <li class="nav-item menu-items">
      <a class="nav-link" onclick="salesReport()">
        <span class="menu-icon">
          <i class="mdi mdi-chart-areaspline"></i>
        </span>
        <span class="menu-title">Sales Report</span>
      </a>
    </li>
    {{/if}}
  </ul>
</nav>


<script>
  function admin(){
    window.location.href="/admin"
  }

  function users(){
    window.location.href="/admin/users"
  }

  function products(){
    window.location.href="/admin/products"
  }

  function category(){
    window.location.href="/admin/categories"
  }

  function order(){
    window.location.href="/admin/manage-orders"
  }

  function coupon(){
    window.location.href="/admin/couponManagement"
  }

  function salesReport(){
    window.location.href="/admin/sales-report"
  }

 
</script>